/docker-compose.override.yaml
/docker-compose.override.yml

/shared
/docs/
# Git Ignore
.gitignore
# Variables d'environnement
/api/.env
/admin/.env
/client/.env
.env

# fichiers locaux
/api/.web-server-pid

###> security ###
/api/config/packages/doctrine.yaml
###< security ###

/client.save/
*.save
/.idea/


