/docker-compose.override.yaml
/docker-compose.override.yml


# Git Ignore
.gitignore

###> Variables d'environnement ###
/api/.env
/admin/.env
/client/.env
.env
###> Variables d'environnement ###

###> fichiers locaux ###
/api/.web-server-pid
/.idea/
###< fichiers locaux ###

###> security ###
/api/config/packages/doctrine.yaml
/bin/
/shared
###< security ###

###> Backup files ###
/client.save/
*.save
/docs/
###< Backup files ###





