/helm/api/charts

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> Custom ####
/client.save/
*.save
/.idea/

###< Custom ####


###> security ###
/api/config/packages/doctrine.yaml
###< security ###
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
